
<div class="container">
    <!-- contacts card -->
<div class="jumbotron card bg-dark text-white bg-primary mb-3">
  <div >
   <h1>Admin Users</h1> 
  </div>
    <div class="row">
  <button class="contact-action btn" [routerLink]= "['/addUser']">
								<i class="glyphicon glyphicon-plus"></i> Create Admin or User
							</button>
			<div class="col-md-4">
			<input class="form-control" id="myInput" type="text" placeholder="Search by name..." [(ngModel)]="filterAdminUser" />
			</div>
		</div>
  </div>
  
    <div class="card card-default" id="card_contacts">
        <div id="contacts" class="panel-collapse collapse show" aria-expanded="true" style="">
            <ul class="list-group pull-down" id="contact-list">
                <li class="list-group-item" *ngFor="let user of pagedItems|adminUser:filterAdminUser">
                    <div class="row w-100">

                        <div class="col-12 col-sm-6 col-md-9 text-center text-sm-left">

                            <span class="text-muted">{{user.username}}</span>
                            <br>
                           
                            
                            <span class="text-muted small text-truncate">{{user.roles}}</span>
                            <div col-12 col-sm-6 col-md-3>
                           	<button class="contact-action" >
								<i class="fa fa-trash"></i>
							</button>
								<button class="contact-action" >
								<i class="fa fa-edit"></i>
							</button>
							</div>
                        </div>
                    </div>
                </li>
               
            </ul>
            <!--/contacts list-->
        </div>
         <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
    </div>
</div>
